<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:jdbc="http://www.springframework.org/schema/jdbc"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">




    <http security="none" pattern="/static/**" />
    <http security="none" pattern="/lib/**" />

    <http auto-config="true">

        <!--不进行下面的设置，iframe会报Refused to display 'http://localhost:8081/welcome' in a frame because it set 'X-Frame-Options' to 'DENY'.-->
        <headers>
            <frame-options disabled="true"></frame-options>
        </headers>
        <!--指定最大的活动session数量为1-->
        <session-management>
            <concurrency-control max-sessions="1" expired-url="/expired"/>
        </session-management>
        <form-login login-page="/login" default-target-url="/" authentication-failure-url="/login" username-parameter="username" password-parameter="password"/>

        <!--关闭csrf否则logout为get方式不能生效，必须为post方式-->
        <csrf disabled="true"/>
        <!--key相当于token的md5的盐值,data-source-ref：remember-me持久化到数据库-->
        <remember-me key="123456"  token-validity-seconds="3600" remember-me-parameter="remember"  data-source-ref="dataSource" />

        <custom-filter ref="metadataSourceFilterSecurityInterceptor" before="FILTER_SECURITY_INTERCEPTOR" />
    </http>


    <!--通过spring内置的jdbc-user-service进行权限验证-->
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="jdbcUserService">
            <password-encoder ref="passwordEncoder">
                <salt-source ref="saltSource"/>
            </password-encoder>
        </authentication-provider>
    </authentication-manager>

    <!--配置数据源-->
    <beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <beans:property name="url" value="jdbc:mysql://192.168.5.128:3306/security"/>
        <beans:property name="username" value="root"/>
        <beans:property name="password" value="root"/>
    </beans:bean>



</beans:beans>


